# Xcode
DerivedData/
.derivedData/
.derivedData*/
.build-log.txt
.build-*.log
.build-backup.log
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Misc
*.swp
*~
dist/
